        img		{ 
			max-width: 100%;
            height: auto;
			float: left; 
		}

        img.mainphoto {
            max-width: 100%;
            height: auto;
            float: left;
            padding: 8px;
            border-radius: 20px;
        }
		
		header {
            grid-area: header;
            background-color: #730099;
        }

        nav {
            grid-area: nav;
            background-color: #4d79ff;
            padding: 10px 15px 15px 15px;
        }

        main {
            grid-area: main;
            background-color: #4d79ff;
            padding: 10px 15px 15px 15px;
        }

        aside {
            grid-area: aside;
            background-color: #00e6ac;
            padding: 10px 15px 15px 15px;
        }

        footer {
            grid-area: footer;
            background-color: #b30059;
            padding: 10px 15px 15px 15px;
        }

        body {
            background-color: #cce6ff;
            color: rgb(255, 255, 255);
            font-family: Helvetica, Arial, sans-serif;
        }

        h2 {
            text-align: center;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header aside'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav main main main aside'
				'footer footer footer footer footer footer';
            grid-gap: .5em;
            padding: .5em;
			
			max-width: 62em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
			margin: auto;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a:link, a:visited {
            background-color: #05c1d2;
            color: rgb(255, 255, 255);
            padding: 15px 35px;
            text-align: center;
            text-decoration: none;
            display: block;
            margin: auto;
          }
          
          a:hover, a:active {
            background-color: #0e0f7b;
          }
          

        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            body {
                background: #ffffcc;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'header header header header header header'
					'nav nav nav nav nav nav'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: block;
            }

        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            body {
                background: #ffccff;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'header header header header header header'
                    'nav nav nav nav nav nav'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: block;
            }
			

        }