body {
max-width: 60em;
margin: 0 auto 0 auto;
font-family: Helvetica;
background-color: rgb(154, 201, 222);
  background-image: url("../images/poe-portrait.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

p {
  color: rgb(255, 255, 255);
  background: rgba(60, 60, 60, 0.75);
}

img {
  float: right;
}

img.poe {
  float: left;
}

img.eye {
  float: none;
}

table, th, td {
  font-family: Helvetica;
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}
