body {
max-width: 60em;
margin: 0 auto 0 auto;
background-color: rgb(204, 204, 204);
  background-image: url("../images/poe-portait.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}
