body {
max-width: 60em;
margin: 0 auto 0 auto;
color: rgb(255, 255, 255);
background-color: rgb(119, 136, 153);
background-image: url("../images/poe-portrait.png"), url("../images/tree3.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom right, bottom left; /* Could use background shorthand here */
}

h1, h2 {
  font-family: Georgia, serif;
  text-shadow: 1px 1px black;
}

p {
  background: rgba(60, 60, 60, 0.75);
  font-family: Helvetica, sans-serif;
}

img {
  float: right;
}

img.works {
  float: left; /* This changes position of images on Lenore and Tell-Tale Heart pages */ 
}

table, th, td {
  font-family: Helvetica, sans-serif;
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}

caption {
  font-weight: bold;
  text-shadow: 1px 1px black;
}

td {
  background-color: rgb(72,72,72);
}

th {
  background-color: rgb(128, 0, 0);
  color: white;
}
